body {
    background-color: silver;
}

table {
    border: 3px solid midnightblue;
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    background-color: rgb(219, 219, 219);
    margin-bottom: 100px;
}

thead {
    background-color: rgb(166, 166, 166);
}

p {
    position: absolute;
    right: 40px;
    top: 50px;
    color: rgb(219, 219, 219);
    font-weight: 700;
    letter-spacing: 0.1rem;
}

tr td:nth-child(3) {
    padding: 10px;
}

tr td:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-style: italic;
    font-size: 17px;
    font-weight: bold;
}

tr td:nth-child(1) {
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 20px;
    font-family: monospace;
}

td, th {
    border: 1px solid midnightblue;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: auto;
    background-color: rgb(166, 166, 166);
}

h3 {
    /* font-family: Roboto; */
    text-align: center;
    line-height: 2;
    font-style: italic;
}

.description {
    font-family: Roboto;
    font-size: 18px;
}


button {
    background-color: midnightblue;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: rgb(70, 70, 255);
  }
  